@charset "ISO-8859-1";
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: "Poppins", sans-serif, Arial;
}

h1 {
	text-align: center;
}

.cart-container {
	margin: 100px 80px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.cart-info {
	display: flex;
	flex-wrap: wrap;
}

th {
	text-align: left;
	padding: 5px;
	color: #fff;
	background: #fa8334;
	font-weight: normla;
}

td {
	padding: 10px 5px;
}

td input {
	width: 40px;
	height: 30px;
	padding: 5px;

}

td a {
	color: red;
	font-size: 12px;
	text-decoration: none;
}

td img {
	width: auto;
	height: 80px;
	margin-right: 10px;
}

.buy {
	margin-top: 15px;
}

#buy-button {
    border-radius: 40px;
    border: 0px;
    background-color: #fa8334;
    color: white;
    cursor: pointer;
    font-size: medium;
    line-height: 2.5em;
    padding: auto;
    width: 100px;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    text-align: center;
}



#buy-button-disable {
    border-radius: 40px;
    border: 0px;
    background-color: #fa8334;
    color: white;
    cursor: pointer;
    font-size: medium;
    line-height: 2.5em;
    padding: auto;
    width: 100px;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    text-align: center;
}

#buy-button-disable:hover {
  cursor:not-allowed;
}

.total-price {
	display: block;
	text-align: -webkit-right;
	justify-content: flex-end;
}

.total-price table{
	border-top: 3px solid #ff523b;
	width: 100%;
	max-width: 400px;
}

td:last-child {
	text-align: right;
}

th:last-child {
	text-align: right;
}

@media only screen and (max-width: 640px) {
	
	.small-container {
		text-align: center;
	}
		
	.cart-info p{
		display: none;
	}
	
	.cart-container {
		margin: 80px auto;
	}
	
	#buy-button {
		width: 33%;
		margin-right: 33%;
	}
	
		td img {
		width: auto;
		height: 20px;
		margin-right: 10px;
	}
}


@media only screen and (max-width: 480px) {
	
	.small-container {
		text-align: center;
	}
		
	.cart-info p{
		display: none;
	}
	
	.cart-container {
		margin: 80px auto;
	}
	
	#buy-button {
		width: 33%;
		margin-right: 33%;
	}
	
		td img {
		width: auto;
		height: 20px;
		margin-right: 10px;
	}
}